.loginsignup{
  width: 100%;
  height: 100vh;
  background: #fce3fe;
  padding-top: 70px;
}
.loginsignup-container{
  width: 580px;
  height: 500px;
  background-color: white;
  margin: auto;
  padding: 20px 50px;
}
.loginsignup-container h1{
  margin: 0px 0px;
}
.loginsignup-fields{
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 10px;
}
.loginsignup-fields input{
  height: 60px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  color: #5c5c5c;
  font-size: 18px;
}
.loginsignup-container button{
  width: 580px;
  height: 60px;
  color: white;
  background-color: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.loginsignup-login{
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
.loginsignup-login span{
  color: #ff4141;
  font-weight: 600;
}
.loginsignup-agree{
  display: flex;
}
